**/*.exe
**/*.o
**/*.m4
**/Makefile
**/Makefile.in
autom4te.cache/*
**/configure
**/*.a
**/*.la
**/*.lai
**/*.lo
**/.libs/*
**/.deps/*
compile
config.*
depcomp
install-sh
libtool
ltmain.sh
missing
stamp-h1
